[submodule "dmlc-core"]
	path = dmlc-core
	url = git@github.com:dmlc/dmlc-core.git
	branch = main
[submodule "cub"]
	path = cub
	url = git@github.com:NVlabs/cub.git
[submodule "gputreeshap"]
	path = gputreeshap
	url = git@github.com:rapidsai/gputreeshap.git
